<nav class="navbar navbar-dark" style="background-color:#2c374c;">
    <span class="navbar-brand m-2 h1" [routerLink]="['/home']">ForumBase</span>
    <div *ngIf="!isUserAuthenticated">
        <span class="navbar-brand m-2 h1 ml-auto">
            <a pButton label="Zarejestruj się" [routerLink]="['register']"></a>
            <a pButton label="Zaloguj się" [routerLink]="['login']"></a>
        </span>
    </div>
    <div *ngIf="isUserAuthenticated">
        <span class="navbar-brand m-2 h1 ml-auto">
            <a pButton label="Lista użytkowników" [routerLink]="['users']"></a>
            <a pButton label="Panel użytkownika" routerLink="/users/{{userId}}"></a>
            <a pButton label="Wyloguj się" (click)="logout()"></a>
        </span>
    </div>
</nav>