<!-- <p-toast></p-toast> -->
<div class="flex justify-content-center">
<div class="card style">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <h5>{{this.subforum.name}}</h5><br/>
            <button pButton pRipple label="Załóż nowy temat" icon="pi pi-plus" class="p-button-success mr-2" (click)="startAddingNewTopic()"></button>
            <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-danger"></button> -->
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="topics" [rows]="10" [paginator]="true" [globalFilterFields]="['name']" [tableStyle]="{'width': '60rem'}"
         [rowHover]="true" dataKey="id">
        <!-- currentPageReportTemplate="{first} do {last} z {totalRecords} tematów" [showCurrentPageReport]="true"> -->
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Lista tematów</h5>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" style="width:22rem">Nazwa <p-sortIcon field="name"></p-sortIcon></th>
                <th style="width:6rem">Wyświetlenia</th>
                <th style="width:6rem">Ostatnia aktywność</th>
                <th style="width:6rem">Autor</th>
                <th pSortableColumn="price" style="width:6rem">Stworzone<p-sortIcon field="price"></p-sortIcon></th>
                <th style="width:6rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-topic>
            <tr>
                <td><a routerLink="/topics/{{topic.id}}">{{topic.name}}</a></td>
                <td >{{topic.id}}</td>
                <td>essa</td>
                <td>{{topic.Author}}</td>
                <td>{{topic.LastUpdatedAt}}</td>
                <td  class="text-center">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="startEditingTopic(topic)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Liczba wszystkich tematów: {{topics ? topics.length : 0 }}
            </div>
        </ng-template>
    </p-table>
</div>
</div>

<div *ngIf="addingNewTopic">
    <p-dialog header="Dodaj nowy temat" [(visible)]="addingNewTopic" [modal]="true" [style]="{width: 'auto'}" [draggable]="false" [resizable]="false">
        <h5>Nazwa</h5>
        <input type="text" pInputText [(ngModel)] = "newTopic.name" style="width:60rem"> 
        <h5>Treść</h5>
        <textarea pInputTextarea [(ngModel)] = "firstPost.text" style="width:60rem; min-height: 30rem;"></textarea>
            <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="addNewTopic()" label="Ok" styleClass="p-button-text"></p-button>
            </ng-template>
    </p-dialog>
</div>

<div *ngIf="editingTopic">
    <p-dialog header="Edytuj temat" [(visible)]="editingTopic" [modal]="true" [style]="{width: '70vw'}" [draggable]="false" [resizable]="false">
        <h5>Nazwa</h5>
        <input type="text" pInputText [(ngModel)] = "this.selectedTopic.name"> 
        <h5>Temat zamknięty</h5>
        <p-inputSwitch [(ngModel)]="this.selectedTopic.isClosed"></p-inputSwitch>
        <h5>Ogłoszenie</h5>
        <p-inputSwitch [(ngModel)]="this.selectedTopic.isPinned"></p-inputSwitch>
        <p-button icon="pi pi-check" (click)="updateTopic()" label="Ok" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-exclamation-triangle" (click)="deleteTopic()" label="Usuń" styleClass="p-button-text"></p-button>
    </p-dialog>
</div>
